.banner {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;

  .title {
    color: black;
  }

  .subtitle {
    color: grey;
  }

  &-fullheight {
    min-height: 100vh;

    .banner-body {
      align-items: center;
    }
  }

  &-halfheight {
    min-height: 50vh;

    .banner-body {
      align-items: center;
    }
  }
}
