@use "variables.scss" as var;
@import "utilities/functions";

.inv-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

@for $i from 1 through var.$n-columns {
  .inv-column-#{$i} {
    width: (divide($i, 6)) * 100%;
    flex: none;
  }
}
