// ref: https://jsfiddle.net/th2ap7r6/

.countdown-container {
  // border: 2px solid black;
  // font-family: Arial, sans-serif;
  // font-size: 12em;
  // line-height: 1.2em;
  overflow: hidden !important;
  // height: 1.2em;
  text-align: center;
  // width: 0.7em;
}
.countdown-box .countdown-digit {
  position: relative;
}

@keyframes fadeInAndOut {
  0% {opacity: 0;}
  20% {opacity: 1;}
  60% {opacity: 1;}
  80% {opacity: 0.9;}
  100% {opacity: 0;}
}
.countdown-animate {
    animation: fadeInAndOut 1s linear;
}