// ref: https://jsfiddle.net/th2ap7r6/

.inv-countdown {
  // border: 2px solid black;
  // font-family: Arial, sans-serif;
  // font-size: 12em;
  // line-height: 1.2em;
  overflow: hidden !important;
  // height: 1.2em;
  text-align: center;
  // width: 0.7em;
}
.countdown-box .countdown-digit {
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.95;
  }
  100% {
    opacity: 1;
  }
}

.countdown-animate {
  animation: fadeIn 1s linear;
}
