@use "variables" as var;
@import "utilities/mixins";

$control-radius: 4px !default;

$control-border-width: 1px !default;

$control-height: 2.5em !default;
$control-line-height: 1.5 !default;

$control-padding-vertical: calc(0.5em - #{$control-border-width}) !default;
$control-padding-horizontal: calc(0.75em - #{$control-border-width}) !default;

$control-border-width: 1px !default;
$control-padding-horizontal: calc(0.75em - #{$control-border-width}) !default;

$textarea-padding: $control-padding-horizontal !default;
$textarea-max-height: 40em !default;
$textarea-min-height: 8em !default;
$textarea-colors: var.$colors !default;
$select-colors: var.$colors !default;

$input-height: $control-height !default;
$input-arrow: #485fc7 !default;
$input-background-color: var.$scheme-main !default;
$input-border-color: #dbdbdb !default;
$input-radius: $control-radius !default;
$input-color: #363636 !default;
$input-placeholder-color: rgba($input-color, 0.3) !default;
$input-hover-border-color: #b5b5b5 !default;
$input-focus-border-color: #485fc7 !default;

$radius-rounded: 9999px !default;

@mixin control {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: $control-border-width solid transparent;
  border-radius: $control-radius;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: $control-height;
  justify-content: flex-start;
  line-height: $control-line-height;
  padding-bottom: $control-padding-vertical;
  padding-left: $control-padding-horizontal;
  padding-right: $control-padding-horizontal;
  padding-top: $control-padding-vertical;
  position: relative;
  vertical-align: top;
  // States
  &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    outline: none;
  }
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}

@mixin input {
  @include control();
  margin-bottom: 1rem;
  background-color: $input-background-color;
  border-color: $input-border-color;
  border-radius: $input-radius;
  color: $input-color;
  + placeholder {
    color: $input-placeholder-color;
  }
  &:hover,
  &.state-hovered {
    border-color: $input-hover-border-color;
  }
  &:focus,
  &.state-focused,
  &:active,
  &.state-active {
    border-color: $input-focus-border-color;
    box-shadow: 0 0 0 0.125em rgba(#485fc7, 0.25);
  }
  &[disabled],
  fieldset[disabled] & {
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: none;
    color: #7a7a7a;
    + placeholder {
      color: rgba(#7a7a7a, 0.3);
    }
  }
}

@mixin input-textarea {
  @include input();
  box-shadow: inset 0 0.0625em 0.125em rgba(#0a0a0a, 0.05);
  max-width: 100%;
  width: 100%;
  font-family: "Poppins";
  &[readonly] {
    box-shadow: none;
  }
  // Colors
  @each $name, $pair in $textarea-colors {
    $color: nth($pair, 1);
    &.color-#{$name} {
      border-color: $color;
      &:focus,
      &.state-focused,
      &:active,
      &.state-active {
        box-shadow: 0 0 0 0.125em rgba($color, 0.25);
      }
    }
  }
  // Modifiers
  &.is-fullwidth {
    display: block;
    width: 100%;
  }
  &.is-inline {
    display: inline;
    width: auto;
  }
}

.inv-input {
  @include input-textarea();
  &.is-rounded {
    border-radius: $radius-rounded;
    padding-left: calc(#{$control-padding-horizontal} + 0.375em);
    padding-right: calc(#{$control-padding-horizontal} + 0.375em);
  }
  &.is-static {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.inv-textarea {
  @include input-textarea();
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: $textarea-padding;
  resize: vertical;
  &:not([rows]) {
    max-height: $textarea-max-height;
    min-height: $textarea-min-height;
  }
  &[rows] {
    height: initial;
  }
  &.has-fixed-size {
    resize: none;
  }
}

.inv-select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
  &:not(.is-multiple) {
    height: $input-height;
  }
  &:not(.is-multiple):not(.state-loading) {
    &::after {
      border: 3px solid transparent;
      border-radius: 2px;
      border-right: 0;
      border-top: 0;
      content: " ";
      display: block;
      height: 0.625em;
      margin-top: -0.4375em;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: rotate(-45deg);
      transform-origin: center;
      width: 0.625em;
      border-color: $input-arrow;
      @include ltr-position(1.125em);
      z-index: 4;
    }
  }
  &.is-rounded {
    select {
      border-radius: $radius-rounded;
      font-family: "Poppins";
      @include ltr-property("padding", 1em, false);
    }
  }
  select {
    @include input();
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: none;
    font-family: "Poppins";
    &::-ms-expand {
      display: none;
    }
    &[disabled]:hover,
    fieldset[disabled] &:hover {
      border-color: #0a0a0a;
    }
    &:not([multiple]) {
      @include ltr-property("padding", 2.5em);
    }
    &[multiple] {
      height: auto;
      padding: 0;
      option {
        padding: 0.5em 1em;
      }
    }
  }
}
