$colors: (
  "primary": #626ed4,
  "secondary": #343549,
  "success": #2aa39a,
  "danger": #ec4561,
  "warning": #f8b425,
  "info": #38a5f8,
  "light": #f8f8fa,
  "dark": #575c62,
  "muted": #edecf1,
);

$n-columns: 6;

$breakpoints: (
  "small": 576px,
  "medium": 768px,
  "large": 992px,
  "huge": 1200px,
);
