@use "variables" as var;
@import "utilities/mixins";

$color_1: #fff;
$color_2: #efefef;
$background-color_1: black;
$background-color_2: rgba(255, 255, 255, 0.6);
$background-color_3: transparent;
$background-color_4: #2289ff;

.inv-video-container {
	max-width: 100%;
	background-color: $background-color_1;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	width: 100%;
	.wrapper {
		position: absolute;
		left: 0;
		right: 0;
		bottom: -15vh;
		z-index: 1;
		opacity: 0;
		pointer-events: none;
		transition: all 0.08s ease;
		&::before {
			content: "";
			bottom: 0;
			width: 100%;
			z-index: -1;
			position: absolute;
			background-color: $background-color_1;
			height: calc(100% + 2rem);
			background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
		}
	}
	>video {
		width: 100%;
		border-radius: 5px;
	}
}
.inv-video-container.show-controls {
	.wrapper {
		bottom: 0;
		opacity: 1;
		pointer-events: auto;
		transition: all 0.13s ease;
	}
}
.inv-timeline {
	cursor: pointer;
	padding-top: .5rem;
	padding-bottom: .5rem;
	.inv-progress {
		height: .25rem;
		position: relative;
		background-color: $background-color_2;
	}
	&:hover {
		.inv-progress {
			span {
				display: block;
			}
			.inv-progress-bar {
				&::before {
					display: block;
				}
			}
		}
	}
	
	@include at-max-breakpoint('small'){
		& {
			padding-top: .25rem;
			padding-bottom: .25rem;
		}
	}
	@include at-max-breakpoint('medium') {
		& {
			padding-top: .375rem;
			padding-bottom: .375rem;
		}
	}
}
.inv-progress {
	span {
		position: absolute;
		left: 50%;
		color: $color_1;
		top: -2rem;
		font-size: 14px;
		transform: translateX(-50%);
		display: none;
	}
	.inv-progress-bar {
		width: 0%;
		height: 100%;
		position: relative;
		background: #2289ff;
		&::before {
			display: none;
			content: "";
			right: 0;
			top: 50%;
			height: 14px;
			width: 14px;
			background: inherit;
			position: absolute;
			transform: translateY(-50%);
			border-radius: 50%;
		}
	}
}
video {
    width: 100%;
}
.inv-video-controls {
	padding: .25rem 3rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	.options {
		width: 100%;
		&:first-child {
			justify-content: flex-start;
		}
		&:last-child {
			justify-content: flex-end;
		}
	}

	@include at-max-breakpoint('small') {
		& {
			padding: .15rem 0rem .75rem;
		}
	}

	@include at-max-breakpoint('medium') {
		& {
			padding-left: 1rem;
			padding-right: 1rem;
			padding-bottom: .5rem;
		}
	}
}
.options {
	button {
		height: 1.375rem;
		border: none;
		color: $color_1;
		background-color: $background-color_3;
		font-size: 20px;

		@include at-max-breakpoint('small') {
			& {
				font-size: 14px;
			}
		}

		i {
			width: 100%;
			height: 100%;
			line-height: 2.2485rem;
		}
		span {
			width: 100%;
			height: 100%;
			line-height: 2.2485rem;
		}
		&:hover {
			cursor: pointer;
		}
	}
	.inv-video-timer {
		font-size: 14px;
		color: $color_2;
		margin-left: 1rem;
	}
	display: flex;
	align-items: center;
	justify-content: center;
}
.inv-video-timer {
	display: flex;
	align-items: center;
	justify-content: center;
}
.inv-video-playback {
	position: relative;
	.speed-options {
		position: absolute;
		background: #fff;
		left: -2.5rem;
		bottom: 3rem;
		border-radius: 3px;
		opacity: 0;
		pointer-events: none;
		width: 8vw;
		transition: opacity 0.13s ease;

		@include at-max-breakpoint('medium') {
			width: 15vw;
		}
		@include at-max-breakpoint('small') {
			width: 20vw;
		}
	}
	.speed-options.show {
		opacity: 1;
		pointer-events: auto;
	}
}
.speed-options {
	li {
		font-size: 14px;
		padding: .4rem 0rem .4rem .75rem;
		cursor: pointer;

		@include at-max-breakpoint('small') {
			font-size: 10px;
			padding: .25rem .375rem;
		}
	}
	li.active {
		background-color: $background-color_4;
		color: $color_1;
	}
}
.inv-video {
	display: block;
}
