@use "sass:map";
@use "modules/utilities/reset";
@use "modules/columns";
@use "modules/container";
@use "modules/hero";
@use "modules/grid";
@use "modules/card";
@use "modules/image";
@use "modules/media";
@use "modules/footer";

@import "modules/variables";

body {
  color: map.get($colors, "dark");
  margin: 0;
}

.box {
  border-style: solid;
}
